In [2]:
num1 = input("First Number:\n")
operator = input("Operator (+, -, *, /):\n")
num2 = input("Second Number:\n")

num1 = float(num1)
num2 = float(num2)

out = None

if operator == "+":
    out =  num1 + num2
elif operator == "-":
    out = num1 - num2
elif operator == "*":
    out = num1 * num2
elif operator == "/":
    out = num1 / num2
    
print("Answer: " + str(out))

First Number:
456
Operator (+, -, *, /):
-
Second Number:
12
Answer: 444.0

# Q2 Provide a program to read the CSV file.

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('Salary.csv')

In [8]:
df

Empty DataFrame
Columns: [Name, Birth Date, Salary]
Index: []

In [9]:
list_of_column_names = list(df.columns)

In [10]:
print('List of column names : ',
      list_of_column_names)

List of column names :  ['Name', 'Birth Date', 'Salary']

# Provide a program to calculate the time and distance based on Below Problem